.navbar {
  background-color: var(--bg);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 3px solid var(--accent);
}

.nav-title {
  color: var(--primary)
}

.nav-right{
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  position: relative;
  font-size: 1.2rem;
  color: var(--primary);
  text-decoration: none;
  padding: 6px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: var(--accent);
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link:hover::after {
  width: 100%;
}

#checkboxInput {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid var(--primary);
  width: 50px;
  height: 30px;
  background-color: var(--bg);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s;
}


.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 5px;
  border-radius: 50%;
  transition: 0.25s;
  background-color: var(--primary); 
}

#checkboxInput:checked + .toggleSwitch::after {
  transform: translateX(20px);
  background-color: var(--primary);
}
